@import url("./normalize.css");
@import url("./reset.css");
body {
  position: relative;
  background-blend-mode: screen;
  font-size: 16px;
}
.bgc {
  background: linear-gradient(-90deg, coral, transparent),
    linear-gradient(90deg, skyblue, transparent),
    linear-gradient(limegreen, transparent);
}
.bgc-reverse {
  background: #dae2f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #d6a4a4,
    #dae2f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #d6a4a4,
    #dae2f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bgc2 {
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.barColor1 {
  background: linear-gradient(to right, #ff0000, #ffff00) !important;
}

.barColor2 {
  background: linear-gradient(to right, #00ff00, #00ffff) !important;
}

.barColor3 {
  background: linear-gradient(to right, #0000ff, #ff00ff) !important;
}

.barColor4 {
  background: linear-gradient(to right, #ff6600, #ff3399) !important;
}

.barColor5 {
  background: linear-gradient(to right, #3366ff, #66ff33) !important;
}

.barColor6 {
  background: linear-gradient(to right, #cc00cc, #00cccc) !important;
}

.barColor7 {
  background: linear-gradient(to right, #ffcc00, #ccff00) !important;
}

.barColor8 {
  background: linear-gradient(to right, #6600ff, #ff0066) !important;
}

.barColor9 {
  background: linear-gradient(to right, #0099ff, #ffcc33) !important;
}

.barColor10 {
  background: linear-gradient(to right, #cc3300, #0066cc) !important;
}

